


video {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 20px;
}

.texte-descriptif{
    display:flex;
    padding: 100px 0 ;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 50px;
    


}


.btn-color{
    background-color: #104E82;
    color: white;
    text-align: center;
    margin: 20px;
}
.btn-color:hover{
    background-color: #146E65;
    color: white;
}

.trier-filtrer{

    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.inscription-evenement{

    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    

}
.col-sm-12 col-md-6 col-lg-6{
    display: block;
    justify-content: space-between;
}

.card{

    margin: auto;
    margin-bottom: 1rem;
}

.col1-tab{

    font-weight: bold;

}

.table-responsive{
    border: 1px solid #104E82;
    border-radius: 20px;
    
}
h3,td{
    padding:2px;
    text-align: center;
}

p.card-text,td,td.col1-tab,h3,.btn-color{

    font-family: 'Roboto', sans-serif;
}

