.connexion{
    display: flex;
justify-content: flex-end;

}

.bg-nouveau{
    background-color: #104E82;

}
a.nav-link{
    color: white;
}
a.nav-link:hover{
    font-weight: bold;
    color: #fdcc1e;
}


.connexion>li{
    list-style: none;
    margin: 15px;
}
.nav-end{
    display: flex;

}
.search{
    margin: 2%;
}
body >main >.container>.connection {
    margin-top: 5%;
    text-align: center;
    border:#104E82 solid 2px;
    
    margin-left:20% ;
    margin-right:20% ;
   
    color: black;
   }
   body >main >.container>.connection>.buttonValider{
    margin-top: 13px;
   }
  
   h1{
    font-size: 1.3rem;
    margin-bottom: 5px;
    margin-top: 5px;
   }
   body>footer{
    margin-top: 10%;
  background-color: #104E82;
  text-align: center;
   }